/* why everyone so mean 2 me 💔 */

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffffff;
    --background-color: #000000;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Playpen Sans", sans-serif;
    background-color: var(--background-color);
    color: var(--primary-color);
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url("../img/paw_bg2.png");
    background-repeat: repeat;
    background-size: auto;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

header {
    user-select: none;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    font-size: 2em;
}

header h1 {
    font-family: "Playpen Sans", sans-serif;
    margin-top: 0;
    padding-top: 0;
}

.link-container {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    padding-bottom: 0;
    border-radius: 8px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.link:hover {
    transform: translateY(-2px);
}

.link:hover a,
.link:hover img {
    color: #fff;
    text-shadow: 0 0 4px #fff, 0 0 8px #e60000, 0 0 12px #890000;
    /* For images, use filter for glow */
    filter: drop-shadow(0 0 6px #fff) drop-shadow(0 0 10px #e60000);
}

.link img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.link a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
}

/* yoinked from w3schools (i work in development btw) */
.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60000, 0 0 40px #c50000, 0 0 50px #9f0000, 0 0 60px #c00000, 0 0 70px #ff0000;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #e60000, 0 0 40px #c50000, 0 0 50px #9f0000, 0 0 60px #c00000, 0 0 70px #ff0000, 0 0 80px #ff4d4d
    }
    
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60000, 0 0 40px #c50000, 0 0 50px #9f0000, 0 0 60px #c00000, 0 0 70px #ff0000;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #e60000, 0 0 40px #c50000, 0 0 50px #9f0000, 0 0 60px #c00000, 0 0 70px #ff0000, 0 0 80px #ff4d4d
    }
}

/* greentext NOT INCLUDED */
.copyright {
    display: flex;
    position: absolute;
    flex-direction: column;
    bottom: 10px;
    left: 20px;
    width: 200px;
    color: #9d9d9d;
    font-size: 0.9em;
}

/* booru visitor counter */
.counter img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}